Package: salt-formula-ironic-inspector
Version: 0.1
Architecture: all
Maintainer: moc-ironic <mos-ironic@mirantis.com>
Installed-Size: 58
Depends: salt-master, reclass
Section: admin
Priority: optional
Homepage: https://www.mirantis.com/
Description: ironic-inspector salt formula
 Install and configure ironic-inspector system.
