{% set ironic_inspector = salt['grains.filter_by']({
    'Common': {
        'pkgs': ['ironic-inspector', 'dnsmasq'],
        'client_pkgs': ['python-ironic-inspector-client'],

    }
}, base='Common', merge=pillar.get('ironic_inspector', {})) %}
